{
  "presets": ["env"],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }],
    "add-module-exports",
    "transform-async-to-generator",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
